*{
  padding: 0;margin: 0;box-sizing: border-box;

}
body{
  /* background-color: #f5f5f5; */
  background-color: #e45c5c;
  /* font-family: monospace; */
}
/* .mainDiv{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-transform: capitalize;
}
.mainDiv{
  position: relative;
   min-height: 100vh; 
  border: 1px solid #3a0808;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.postCard{
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #1d72b8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
 .cards{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;
  padding: 20px;
 }
.card{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navBar ul {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
